/* Color Pallete */
.color{
    color: #05668d;
    color: #028090;
    color: #00a896;
    color: #02c39a;
    color: #f0f3bd;
}   
/* End Color Pallete */

body{
    margin: 0 0 0 0;
}

.header{
    position: relative;
    /* height: 100px; */
    color: white;
    background-color:#00a896;
}

.row-header{
    height: 100%;
    text-align: center;
}

.header-logo{
    margin: auto;
    float: left;
}

.header-navbar, .header-search{
    margin: auto;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(0, 168, 150);
    font-family: roboto !important;
    font-weight: 500 !important; 
    font-size: 18px !important;
}

.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: right;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.landing-page-main form{
    padding: 20px 20px;
    margin: 20px;
}

.show-image{
    margin: auto;
    text-align: center;
}

.text-left{
    padding: 10px;
}

.profile-left img{
    max-height: 200px;
    padding: 10px;
    width: 100%;
}

.welcome-title{
    text-align: center;
    padding: 10px 0;
}

.welcome-title img{
    max-height: 100px;
    padding: 10px 0;
}

#upgrade-verifikasi{
    margin: 20px 10px 10px 10px;
    text-align: center;
}

.profile-right .row{
    margin-bottom: 10px;
    background-color: #028090;
    margin-right: 0px;
}

@media (max-width: 767px) {
    .profile-right .row{
        margin-left: 0px;
    }

    .referensi img{
        text-align: left;
    }
}


.edit-profile{
    margin: auto;
}

.profile-right h4{
    width: 100%;
    padding: 10px 15px;
    border: solid 2px black;
}

.tentangku p{
    padding: 0px 15px;
}

.grade-status{
    font-size: 30px;
}

.insearch{
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.insearch > .textbox{
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.insearch > .textbox:focus {
    outline: 0;
    background-color: #FFF;
}

.insearch > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  .insearch > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
  }

  .referensi img{
    max-height: 100px;
    padding: 10px 0;
}

