.main-content-home{
    margin-top: 30px;
    /* color: white; */
}
.status-makan{
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

.status-makan hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0 20px 0 20px;
}

.status-makan h4{
    margin-bottom: 0px;
}

meter{
    width: 80%;
    margin: 20px 0px 10px 0px;
}

#option-ingin-makan{
    /* padding-left: 0; */
    margin: auto;
}

.status-available{
    padding: 10px 20px;
    min-width: 100px;
}

#lagi-ingin-makan{
    margin: auto;
    padding: 0;
}

.todo-list{
    background-color: darkcyan;
    box-shadow: 20px grey;
}

.todo-list hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 10px 20px 10px 20px;
}

.todo-list .row{
    margin: auto;
}

.todo-list h5{
    margin: auto;
}

.text-content{
    color: white;
}

.main-content-home h5{
    padding-top: 10px;
    padding-left: 10px;
}

.second-content-home{
    padding-top: 15px;
}

.second-content-home img{
    float: left;
    margin: 5px 10px;
}

.span-teman-makan{
    margin-top: 5px;
}

.span-group-makan{
    margin-top: 5px;
}



.teman-sekitar{
    background-color: darkcyan;
    color: white;
    padding: auto   0;
}

.makan-rame{
    background-color: darkcyan;
    color: white;
}


.teman-sekitar .row{
    margin: auto;

    padding: 5px 0;
}

.ikon-teman{
    margin: auto;
}

.makan-rame .row{
    margin: auto;
    padding: 5px 0;
}

.set-bawahnya{
    padding-bottom: 10px;
}

.teman-sekitar hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 10px 20px 10px 20px;
}

.makan-rame hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 10px 20px 10px 20px;
}

.button-petunjuk{
    padding-left: 0px !important;
    margin: auto;
}

.todo-list img{
    float: left;
    margin: 5px 10px;
}

.todo-list h6{
    margin-top: 5px;
    margin-bottom: 0;
}

.kolom-makan-left{
    padding-left: 0px !important;
}
.kolom-makan-right{
    padding-right: 0px !important; 
}

@media (max-width: 992px) {
    .kolom-makan-left{
        padding: 5px 0px !important;
    }
    .kolom-makan-right{
        padding: 5px 0px !important;
    }
}

.button-teman{
    padding-left: 0 !important;
}

.navbar-pesan{
    padding: 10px 0;
}

.navbar-pesan h5{
    padding: 0;
}

.navbar-pesan img{
    float: left;
    margin-right: 10px;
}

.kolom-pesan{
    min-height: 100px;
}

.profile-right{
    padding-left: 15px !important;
}

.friend-profile-right{
    padding-left: 0;
}

@media (max-width: 767px) {
    .profile-right{
        padding-left: 15px !important;
    }
}

.komen{
    padding: 10px 10px;
}
