/* Color Pallete */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Quicksand:300,400,500,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.color{
  color: #05668d;
  color: #028090;
  color: #00a896;
  color: #02c39a;
  color: #f0f3bd;

  /* twittwe */
  color: #0091F4;
  color: #1B95E0;
  color: #006DBF;
}

.notif-wrapper{
  padding:5px;
}

.img-notif {
  width:40px;
  height:40px;
  border-radius:50px;
  object-fit: cover;
}

footer{
  background-color: #00a896 !important;
  color: white;
  padding: 0 10% !important;
  font-family: roboto !important;
  height: 100% !important;
}

footer a{
  color: white;
  text-decoration: none !important;
}

footer a:hover{
  color: black;
  text-decoration: none !important;
}

.footer-copyright{
  padding: 0 !important;
}

.btn-success{
  background-color: #00a896 !important;
  border-color: #00a896 !important;
}

.btn-success:hover{
  background-color: #028090 !important;
}
/* End Color Pallete */


/* warna background */
body{
  margin: 0 0 0 0;
  font-family: 'Open Sans';
  /* font-weight: 300; */
  /* background-color: #ECE5CE; */
  /* background-color: #F8E4C1; */
  /* background-color: #FFEDBF; */
  /* background-color: #f0f3bd; */
  /* background-color: #ffffff; */
  background-color: #e2e1e0;

}

button{
  cursor: pointer;
}

.main-content{
  padding-top: 90px;
}
/* Warna Navbar */
.header{
  /* font-family: roboto; */
  font-family: 'Open Sans';
  /* font-weight: 500; */
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* margin-top: -15px; */
  height: 80px;
  color: white;
  background-color:#00a896;
  /* background-color:#E08E79; */
  /* background-color:#2E0D23; */
  /* background-color:#F54828; */
  /* background-color:#F7803C; */
  border-bottom: #00a896;
}

.header .container{
  height: 100%;
}

.row-header{
  height: 100%;
  text-align: center;
}

.header-logo{
  /* margin: auto; */
  float: left;
}

.header-search{
  width: auto;
}

.header-logo img{
  height: 50px;
}


.header-navbar, .header-search{
  /* margin: auto; */
  width: auto;
}

.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: right;
}

.header li a {
  padding: 0px 16px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.header li:hover {
  color: black;
}

.header-landingpage{
  position: relative !important;
}

@media (max-width: 575px) {
  .header{
    height: auto;
    position: relative;
  }

  .main-content{
    padding-top: 170px;
  }
}


.landing-page-main form{
  padding: 20px 20px;
  margin: 20px;
}


.landing-login{
  margin: auto;
  text-align: center;
  font-family: montserrat;
  font-weight: 700;
}

.landing-login h1{
  text-align: left;
  text-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
  
}

.welcome-title h1{
  font-weight: 500;
}

.landing-login h2{
  margin-left: 20%;
  text-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.shadow{
  text-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.landing-login button{
  width: auto;
  margin: 30px auto;
  font-family: montserrat;
  font-weight: 600;
  border-radius: 30px;
}


.photo-navbar img{
    border-radius: 50%;
    object-fit: cover;
}

.picture-teman-makan img{
  border-radius: 50%;
}

.show-image{
  margin: auto;
  text-align: center;
}

.show-image img{
  width: 100%;
  padding: 50px;
}

.text-left{
  padding: 10px;
}

.profile-left img{
  max-height: 200px;
  padding: 10px;
  width: 100%;
}


.welcome-title{
  text-align: center;
  padding: 10px 0;
}

.welcome-title img{
  max-height: 150px;
  padding: 10px 0;
}

#upgrade-verifikasi{
  margin: 20px 10px 10px 10px;
  text-align: center;
  background-color: #00a896;
  color: white;
  border: 0;
  height: 40px;
  width: 200px;
  border-radius: 20px;
}



.profile-right .row{
  margin-bottom: 10px;
  /* background-color: #028090; */
  margin-right: 0px;
}

@media (max-width: 767px) {
  .profile-right .row{
      margin-left: 0px;
  }

  .referensi img{
      text-align: left;
  }
}

.filter-referensi{
  padding: 0;
}

.filter-referensi .button-first{
  padding-left: 30px;
}

@media (max-width: 575px) {
  .filter-referensi .button-first{
    padding-left: 15px !important;
  }
}

.edit-profile{
  margin: auto;
}

.edit-profile-button{
  width: 60%;
  height: 40px;
  background-color: #00a896;
  color: white;
  border : 0;
  border-radius: 20px;
  margin: 30px 0;
  cursor: pointer;
}

.profile-right h4{
  width: 100%;
  padding: 10px 15px;
  /* border: solid 2px black; */
}

.tentangku p{
  padding: 0px 15px;
}

.grade-status{
  font-size: 30px;
}

.insearch{
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.insearch > .textbox{
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.insearch > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

.insearch > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.insearch > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}
.referensi img{
  max-height: 100px;
  padding: 10px 0;
}

.main-content-home{
  margin-top: 15px;
  /* color: white; */
}
.status-makan{
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.status-makan:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.status-makan h4{
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
}

.status-makan .btn{
  width: 50%;
}

meter{
  width: 80%;
  margin: 20px 0px 10px 0px;
}

#option-ingin-makan{
  padding-left: 0;
  margin: auto;
  padding-right: 0;
}

#option-ingin-makan input{
  width: 150px !important;
  padding-left: 15px;
}

@media (max-width: 992px) {
  #option-ingin-makan{
      padding-left: 15px;
  }
}

.status-available{
  padding: 10px 20px;
  min-width: 100px;
}

#lagi-ingin-makan{
  margin: auto;
  padding: 0;
}

.todo-list{
  background-color: white;
  text-align: center;
  border-radius: 20px;
  margin:auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.todo-list:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.1);
}

#harus-tahu{
  display: none;
}


.teman-sekitar hr{
  margin-top: 0;
  margin-bottom: 1rem;
}

.makan-rame hr{
  margin-top: 0;
  margin-bottom: 1rem;
}

.todo-list .row{
  margin: auto;
}

.todo-list h5{
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
}

.text-content{
  color: black;
}

.main-content-home h5{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.second-content-home{
  padding-top: 15px;
}

.second-content-home img{
  float: left;
  margin: 10px 10px;
  object-fit: cover;
}

.span-teman-makan{
  margin-top: 5px;
}

.span-teman-makan a{
  text-decoration: none;
  color: black;
}

.span-group-makan{
  margin-top: 5px;
}

.span-group-makan h5{
  padding-bottom: 0;
  margin-bottom: 0;
}

.span-group-makan span{
  padding-left: 10px;
}

.teman-sekitar{
  margin-bottom: 20px;
  border-radius: 20px;
  background-color:white;
  color: black;
  padding: auto   0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.teman-sekitar:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.makan-rame{
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.makan-rame:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.teman-sekitar .row{
  margin: auto;

  padding: 7.5px 0;
}

.ikon-teman{
  margin-top: 15px;
}

.makan-rame .row{
  margin: auto;
  padding: 7.5px 0;
}

.set-bawahnya{
  padding-bottom: 10px;
}


.button-petunjuk{
  /* padding-left: 0px !important; */
  margin: auto;
  margin-bottom: 15px;
}

.todo-list img{
  float: left;
  margin: 5px 10px;
}

.todo-list h6{
  margin-top: 5px;
  margin-bottom: 0;
}

.kolom-makan-left{
  padding-left: 0px !important;
  padding-right: 7.5px;
}


.kolom-makan-right{
  padding-right: 0px !important; 
  padding-left: 7.5px;
}


@media (max-width: 992px) {
  .kolom-makan-left{
      padding: 5px 0px !important;
  }
  .kolom-makan-right{
      padding: 5px 0px !important;
  }
}

.button-teman{
  /* padding-left: 0 !important; */
  margin-bottom: 10px;
}

.navbar-pesan{
  padding: 10px 0;
}

.navbar-pesan h5{
  padding: 0;
}

.navbar-pesan img{
  float: left;
  margin-right: 10px;
}

.navbar-brand{
  padding-left: 5%;
}

/* @media (max-width: 992px) {
  #navbarNavAltMarkup{
    padding-left:50px;
  }

  .navbar-brand{
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  #navbarNavAltMarkup{
    padding-left:50px;
  }

  .navbar-brand{
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .navbar-brand{
    padding-left: 15%;
  }

  #navbarNavAltMarkup{
    padding-left:15%
  }
} */

.kolom-pesan{
  min-height: 100px;
}

.profile-right{
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 20px;
}

.friend-profile-right{
  padding-left: 0;
}

.profile-right:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (max-width: 767px) {
  .profile-right{
      padding-left: 0px !important;
  }
}

.komen{
  padding: 10px 10px;
}

/* INI CSS UNTUK REQUEST */

.request{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.request:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.request button{
  width: 100%;
}

.request-item{
  padding: 10px 30px;
}


.request-item a{
  text-decoration: none;
  color: black;
}

.request-item img{
  height: 50px;
  width: 50px;
  margin: 0 10px;
  float: left;
  /* display: inline-block; */
  border-radius: 50%;
  object-fit: cover;
}
.request-item span{
  padding: 0;
}

.request-item textarea{
  min-height: 100px;
  margin: 0px 10px 10px 70px;
  padding: 10px;
  width: 80%
}

.button-respon{
  /* margin: 10px 0; */
  /* float: right; */
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
}


.button-respon .buttons{
  padding: 5px;
}

@media (max-width: 575px) {
  .button-respon{
    display: contents;
  }
}

.row-middle {
  display: flex;
  align-items: center
}

.button-respon .fas{
  font-size: 50px;
  padding: 0 10px;
  margin: auto;
}

.accept{
  color: greenyellow;
}

.reject{
  color: red;
}

.button-request{
  padding-right: 0 !important;
  background: #E1E0DF;
}

.button-meetup{
  padding-left: 0 !important;
  background: #E1E0DF;
}

.rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.submit-command{
  padding-right: 15%;
}

@media (max-width: 575px) {
  .button-respon .fas{
      font-size: 45px;
  }

  .button-request{
      padding-right: 15px !important;
  }
  
  .button-meetup{
      padding-left: 15px !important;
  }

  .submit-command{
      padding-right: 5%;
  }
}

.command-rated{
  padding-left: 70px;
  padding-right: 10px;
  text-align: justify;
}

/* css untuk halaman chat, group dan request */
.group{
  width: 100%;
  color : #0b3834;
}

.group .row{
  background-color: white;
  margin: 0 0 10px 0;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.group .row:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.group-title{
  padding: 15px 30px;

  /* margin-right: -15px; */
}

.group-button{
  /* margin: auto; */
  padding: 15px;
}

.group-button button{
  margin-bottom: 10px;
  background-color: #00a896;
  color: white;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 6px;
}



.participant h4{
  width: 100%;
  padding: 10px 0 15px 15px;
  margin-bottom: 0;
}


#button-back{
  width: 25px;
  height: 25px;
}

.participant img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.participant-list{
  padding-bottom: 20px;
  padding: 5px 20px;
}

@media (max-width: 575px) {
  .participant-list{
    padding: 5px 15px !important;
  }
}

.participant-item{
  padding: 10px;
  min-width: 230px;
}

.avatar-participant{
  float: left;
}

.avatar-participant img{
  border-radius: 50%;
  object-fit: cover;
}

.desc-participant{
  height: 100%;
  padding-left: 60px;
}

.desc-participant a{
  color: black;
  text-decoration: none;
}

@media (max-width: 767px) {
  .group-button button{
      margin-right: 10px;
      right: 10px;
  }
}

.top-chat{
  padding: 15px;
}

.top-chat h5{
  display: inline;
  padding-top: 20px !important;
}

.avatar-list img{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.avatar-list{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.avatar-guest{
  float: left;
}

.avatar-self{
  float: right;
}

.desc-chat{
  padding: 0 60px;
}

.chat-list{
  padding-top: 15px;
  padding-bottom: 15px;
}
.chat-send-item{
  padding: 30px;
}
.chat-text-block{
  padding: 5px 0;
}

.chat-text-cover{
  display: inline-block;
  background: #ced4da;
  padding: 10px 10px;
  border-radius: 30px;
}

.chat-time{
  font-size: 10px;
}

.conversation-item{
  padding: 0 10px;
  min-width: 230px;
}

.request-feedback{
  padding: 0px 10px 10px 70px;
}

@media (max-width: 767px) {
  .request-feedback{
    padding: 0;
  }
}

/* .request-feedback img{
  height: 15px;
  margin: 0px;
} */

.request-feedback-rating{
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group textarea{
  min-height: 100px;
  padding: 10px;
  margin: 0 ;
  border-radius: 5px;
}

.form-group button{
  width: auto;
}

@media (max-width: 767px) {
  .form-group textarea{
    width: 100%;
/* css untuk halaman post */
  }
}

.post{
  background-color: white;
  color: black;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 50px;
}

.post:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.my-post{
  background-color: white;
  color: black;
  padding-bottom: 10px;
  border-radius: 20px;
}

.my-post h4{
  margin-left: -30px;
}

@media (max-width: 575px) {
  .my-post h4{
    margin-left: 0;
  }
}

.post a{
  color: black;
  text-decoration: none;
}

.post-box{
  padding: 10px;
  margin: 10px;
  border-bottom: solid 1px #ccc;
}

.post-box span{
  /* display: block; */
}

.post-box p{
  text-align: justify;
  padding-right: 10px;
}


.post-text{
  margin-top: 10px;
  /* max-width: 700px; */
  padding: 0 0px;
}

.post-text p{
  color: black;
  margin-bottom: 0;
}

.short p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.post-attribute-button{
  padding-bottom: 10px;
}

.post-box .deskripsi-post{
  margin-bottom: 0;
}

.button-delete-post-box{
  float: right;
}

.button-delete-post-box .btn{
  border-radius: 50px;
  border-color: #ccc;
}

.post-box .deskripsi-post p{
  margin-bottom: 0;
}

.input-review{
  display: block;
  width: 100%;
  padding: 10px 20px;
  min-height: 100px;
  margin: auto;
  margin-bottom: 0px;
  /* margin: 10px; */
}

.btn {
  width: 100%;
}

#exampleFormControlTextarea1{
  border-radius: 5px;
  width: 80%;
}

.comment-post-button{
  width: 100px;
}

.gambar-post{
  width: 100%;
  /* max-width: 100%; */
  padding: 5px 10px 5px 0;
  object-fit: cover;
  border-radius: 20px;
}

.button-makan-apa{
  width: 100px;
  height: 40px;
  float: right;
  background-color: #00a896;
  border : 0;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.button-makan-apa-tengah{
  padding: 0 !important;
}

.button-makan-apa-left{
  padding-right: 0 !important;
}

.button-makan-apa-right{
  padding-left: 0 !important;
}

.carousel {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.3); */
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
.slide {
  float: right;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 400px;
  /* background-color: #eee; */
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
}
.slide:before {
  content: attr(annot);
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: rgba(255,255,255,0.9);
  font-size: 14px;
  font-weight: 300;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: 0 0 1px #000;
}
.slide:after {
  content: attr(slide);
  display: block;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 80px;
  opacity: 0;
  /* background-image: linear-gradient(transparent, rgba(0,0,0,0.5)); */
  text-align: left;
  text-indent: 549px;
  line-height: 101px;
  font-size: 13px;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 0 1px #000;
}
.counter {
  position: absolute;
  bottom: 20px;
  right: 1px;
  height: 20px;
  width: 60px;
  z-index: 2;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}
.faux-ui-facia {
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  margin-top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.faux-ui-facia:checked {
  z-index: 8;
}
.faux-ui-facia:checked + .slide {
  opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
  float: left;
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
  opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
  float: left;
  z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
  opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
  opacity: 1;
}


@media (max-width: 575px) {
  .button-makan-apa-tengah{
      padding: 0 15px !important;
  }
  
  .button-makan-apa-left{
      padding-right: 15px !important;
  }
  
  .button-makan-apa-right{
      padding-left: 15px !important;
  }
}

/* css untuk galeri */

.galeri{
  margin-right: -15px !important;
}


.galeri .btn {
  width: auto;
}

.galeri h4{
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
  padding: 10px 0 0 0;
}

.galeri img{
  height: 200px;
  padding: 0px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.galeri .btn-upload{
  padding: 10px 20px 0px 10px;
}

.foto{
  position: relative;
  /* margin-bottom: 20px; */
  /* padding: 5px; */
  text-align: justify;
  height: 210px;
}

.caption-foto{
  visibility: hidden;
  position: absolute;
  bottom: 2px;
  /* left: 20px; */
  background: rgba(0, 0, 0, 0.5);
  width: 99%;
  color: white;
  font-weight: 400;
  margin-left: 2px;
  padding: 0 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.foto:hover .caption-foto{
  visibility: unset;
  /* animation:  */
}

@media (max-width: 575px) {
  .caption-foto{
    visibility: unset;
  }
}

.green-hr{
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #00a896;
}

.background-input{
  border: 1px solid !important;
  border-color: #ccc !important;
  background: white !important;
  padding: 0 15px !important;
}

.review-posting{
  height: 100px !important;
}

.profil-kiri img{
  border-radius: 50%;
  width : 200px;
  height: 200px;
  object-fit: cover;
}

.profil-kiri button{
  margin-top: 10px !important;
}

.lsbwphoto{
  padding-right: 7.5px;
}

.rsb{
  padding-left: 7.5px;
}

.loading{
  margin: auto !important;
  padding: 4% !important;
}

.loading img{
  display: block;
  width: 100%;
  height: 100%;
}

.loading .btn{
  width: 100px;
  margin: 20px;
}

.loadings{
  width: 100%;
}

@media (max-width: 575px) {
  .loading{
    margin: auto !important;
    padding: 50% 10% !important;
  }
}

.foto-post{
  text-align: right;
}

@media (max-width: 767px) {
  .foto-post{
    text-align: left;
  }
}

.foto-post img{
  border-radius: 50%;
  object-fit: cover;
  /* width: 50%; */
  /* height: 50%; */
}



.btn-info{
  border: 0;
  background-color: #00a896;
  border-radius:20px;
}



.form-signin{
  background-color:white;
  border-radius: 10px;
  border: 0;
  /* box-shadow: 1px 2px #ced4da; */
}

.form-control, .button-signin{
  border-radius: 20px;  
  -moz-border-radius:20px !important; 
  -webkit-border-radius: 20px !important;
}

.button-signin{
  border: 0;

}

.petunjuk-keselamatan p{
  text-align: justify;
  padding: 10px 20px;
}

.title-petunjuk{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.petunjuk-keselamatan span{
  text-align: left;
  padding: 5px 20px;
  display: block;
}

.title-update-profile h2{
  display: inline;
}

.title-update-profile{
  padding: 10px;
}

.update-profile input, textarea{
  margin-bottom: 10px;
  /* border-radius: 5px; */
  padding: 5px;
  width: 100%;
  border: 0;
  background-color: whitesmoke;
  border-radius: 20px;
}

.update-profile textarea{
  min-height: 100px;
}

.form-update-profile{
  padding: 10px 10% !important;
  /* text-align: center; */
}

.form-update-profile select{
  width: 100%;
}

.form-update-profile button{
  height: 40px;
  width: 100px;
  margin: 5px 5px;
  border: 0;
  background-color: #00a896;
  border-radius: 20px;
  color: white;
}

footer{
  background-color: #048b7e;
  height: 200px;
  padding-top: 20px;
  margin-top: 100px;
  text-align: center;
}

.footer-text h6{
  color: white;
  margin: auto;
}

.input-file{
  width: 242px;
}

@media (max-width: 575px) {
  .btn-upload{
    text-align: center !important;
  }

  .input-file{
    padding-bottom: 10px;
  }
}

.command-text-cover{
  font: white;
  display: inline-block;
  border-radius: 5px;
}

.command-guest{
  float: left;
}

.command-guest img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.command-list{
  max-width: 100%;
  padding: 10px 0;
}

.command-item{
  padding: 0;
}

.about-us-body{
  background-color: white;
  height: 100%;
  /* width: 500px; */
  text-align: center;
  margin: 150px;
  border-radius: 10px;
}

.about-us-body h6{
  margin: auto;
}

.delete-post-button{
  text-align: right;
}

.delete-post-button button{
  margin: 10px;
  background-color: #E08E79;
  border: 0;
  border-radius: 10px;
  color: white;
  width: 80px;
  height: 40px;
}

.avatar-comment{
  padding-left: 15px;
}

.command-list textarea{
  background: white;
  border: solid 1px #ccc;
  border-radius: 3px;
  /* width: 90%; */
}

.command-input{
  padding-left: 60px;
  width: 90%;
}

.command-input button{
  width: 100px;
}

.col-list-rating{
  padding: 15px 15px 15px 30px;
}

.rating-list{
  padding: 15px;
}

.rating-list img{
  height: 50px;
  width: 50px;
  vertical-align: none !important;
  padding: 0;
  /* border-radius: 50%; */
  object-fit: cover;
}



.rating-list .date-time{
  font-size: 14px;
}

.kolom-avatar-rating{
  padding: 15px 0 0 0;
  text-align: right;
}

@media (max-width:575px){
  .kolom-avatar-rating{
    text-align: left;
  }
}


#foto-background{
  text-align: right;
  padding: 0;
}

.following img{
  width: 50px;
  height: 50px;
}

.col-foto-detail{
  padding-bottom: 100px;
}

.post-input{
  border-radius: 20px;
}
.post-input .row{
  margin: 15px 0;
}

.input-post-baru{
  text-align: left;
}

.navbar-profile a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar-profile a:hover{
  color: gray;
}


.button-create-group{
  display: inline;
  padding-left: 15px;
}

.button-create-group button{
  width: 90px;
  font-size: 12px;
  padding: 2px 0;
}

.search-post{
  width: 100%;
}


#group-section{
  margin-bottom: 10px;
}

#group-section .row{
  padding: 0;
}

.group-detail h5{
  color: #00a896;
  font-family: 'Roboto';
}

#pesan-button-myrequest{
  border: 0;
  background-color: #00a896;
  border-top-left-radius: 20px !important;
  border-radius: 0;
  color: white;
  border-top-right-radius: 20px;
}

#pesan-button-myinvitation{
  border: 0;
  background-color: #00a896;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media (max-width:575px){
  #pesan-button-myinvitation{
    border-top: 1px solid white;
    border: 0;
    background-color: #00a896;
    border-radius: 0;
  }
}

.button-register{
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button-register:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12); */
}

.chat-group-participant{
  padding: 15px;
}

.chat-group-participant .btn{
  width: auto;
}

.stars img{
  width: 50px;
  height: 50px;
}

.stars-small img{
  width: 20px;
  height: 20px;
  margin: 0;
}

.last-login-status{
  font-size: 14px;
  font-weight: 300;
}

.button-detail-photo{
  text-align: center;
}

.btn-more{
  width: auto;
  margin: 10px;
  font-size: 12px;
  border-radius: 30px;
}

.btn-create-group{
  border-radius: 50px;
  /* height: 40px; */
  margin-top: 5px;
}

.badge-notif{
  font-size: 14px !important;
  margin-left: -10px !important;
  opacity: 0.95;
}

.fa-bell{
  font-size: 25px;
}

.detail-notifikasi{
  position: absolute;
  right: 90px;
  left: auto;
  background: rgba(38, 50, 56, 0.8);
  border-radius: 10px;
  padding: 2px 10px;
  /* overflow-y: auto;
  max-height: 200px; */
}

.detail-notifikasi a{
  text-decoration: none !important;
  font-size: 14px;
  font-family: roboto;
  font-weight: 500;
  color: white;
}

.detail-notifikasi a:hover{
  color: gray;
}

@media (max-width: 575px) {
  .detail-notifikasi{
    background: rgba(38, 50, 56);
    z-index: 2;
  }
}



.nav-item a:hover{
  color: #008090 !important;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 500px;
  background: #F5F5F5;
  overflow: auto;
  /* overflow-y: scroll; */
  /* overflow-y: auto; */
  margin-bottom: 25px;
  min-width: 95%;
  border-radius: 20px;
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 2
 */

 #style-2::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar
 {
   /* width: 12px; */
   background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: #00a896;
 }

.invited-time{
  font-size: 14px;
  color: grey;
  padding-top: 0;
}

.form-upload-image img{
  height: 200px;
  border-radius: 10px;  
}

@media (max-width: 575px) {
  .form-upload-image img{
    width: 100% ;
    object-fit: cover;
  }
}

.form-upload-image label{
  position: relative;
}

.restaurant-list{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.restaurant-list:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-body {
  min-height: 150px;
  min-width: 300px;
  margin-right: 5px;
}

.bungkus-lokasimakan{
  overflow-x: auto;
}

.foto-lokasi{
  width: 300px;
  height: 150px;
  object-fit: cover;
  overflow-y: hidden;
  border-radius: 5px;
}



.deskripsi-lokasi{
  position: absolute;
  color: white;
  width: 100%;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.lokasi-nama{
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.lokasi-rate{
  top: 0;
}

.lokasi-rate img{
  height: 15px;
  width: 15px;
  margin-top: -5px;
}

.card-body{
  padding: 0;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.restaurant-list:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#myTab{
  border: 0;
  background-color: #e2e1e0;
}

#myTab li{
  width: 50%;
  font-weight: bold;
}

#myTab a{
  text-decoration: none !important;
  color: black;
  font-size: 20px;
}

.nav-item .active{
  /* background: #00a896 !important; */
  color: black !important;
}

.nav-left{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background-color: #e2e1e0;
}

.nav-right{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background-color: #e2e1e0;
}

#home-tab, #profile-tab{
  border: 0;
}

.detail-notifikasi .scrollbar-container{
  max-height: 200px !important;
}